#home{
    display: flex;
    height: 100%;
    width: 100%;
}
#wrapper {
    margin: 20px 10px 10px 20px;
    width: 35%;

    mat-card{
        padding-left: 24px;
    }
}

.page-card{
    width: 75%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#dashboard_wrapper {
    display: grid;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    padding: 20px;

    .transfer_container{
        display: flex;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1/4;

        .transfer_grid{
            height: 100%;
            width: 50%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            
            .transfer_grid-head{
                margin-left: 1rem;
            }

                .transfer_body{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                
                }
        }

        :last-child{
            margin-left: 10px;
        }
    }

    .count_grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;     }

}

h1 {
    margin-top: 20px;
}

.link {
    margin-right: 10px;
}

.description {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

mat-card {
    margin-bottom: 20px;
}

a {
    color: var(--theme-color-accent);
    text-decoration: none;
}

#example-use-cases-list {
    list-style-type: none;
    padding-inline-start: 10px;
    li {
        margin-top: 10px;
        &:before {
            margin-right: 10px;
            content: 'check';
            font-family: 'Material Icons';
        }
    }
}

.num-text{
    font-size: xxx-large;
    color: #d86d6d;
}

.dashboard-buttons{
    height: 15%;
    width: 90%;
    border-radius: 10px;
    background-color: #942424 !important;
}

.table-container {
    overflow-x:hidden;
    max-width: 100%;
  }
  
  .transfer-history-table {
    width: 100%;
    font-weight: bold;
  }
  .transfer-history-table-header th {
    font-weight: bold;
}

.connector-info{
    width: 100%;
    height: 65%;
    background-image: linear-gradient(to right bottom, #942424, #aa3b39, #c0514f, #d66766, #eb7d7d);    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    .connector-info-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



    mat-icon{
        margin-top: 40px;
        height: 100px;
        width: 100px;
        font-size: 100px;
    }

}

.edc-info{
    background-image: linear-gradient(to right bottom, #942424, #aa3b39, #c0514f, #d66766, #eb7d7d);    height: 35%;
    width:100%;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}