<mat-card class="page-card">
  <mat-toolbar color="primary" class="title-toolbar">
    <span>Dashboard</span>
  </mat-toolbar>
<div id="home">

  <div id="dashboard_wrapper">
    <div class="transfer_container">
      <mat-card class="transfer_grid">
        <div class="transfer_grid-head">
          <h3>Incoming Data</h3>
            <span>Transfer Processes</span>
        </div>
        <div class="table-container">
        <table mat-table [dataSource]="incomingTransfers" class="transfer-history-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef scope="col">Id</th>
            <td mat-cell *matCellDef="let item">{{item.id}}</td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef scope="col">State</th>
            <td mat-cell *matCellDef="let item">{{item.state}}</td>
          </ng-container>

          <ng-container matColumnDef="connectorId">
            <th mat-header-cell *matHeaderCellDef scope="col">ConnectorId</th>
            <td mat-cell *matCellDef="let item">{{item.connectorId}}</td>
          </ng-container>

          <ng-container matColumnDef="assetId">
            <th mat-header-cell *matHeaderCellDef scope="col">AssetId</th>
            <td mat-cell *matCellDef="let item">{{item.assetId}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columns" class="transfer-history-table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>
    </mat-card>
    <mat-card class="transfer_grid">
      <div class="transfer_grid-head">
        <h3>Outgoing Data</h3>
          <span>Transfer Processes</span>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="outgoingTransfers" class="transfer-history-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef scope="col">Id</th>
            <td mat-cell *matCellDef="let item">{{item.id}}</td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef scope="col">State</th>
            <td mat-cell *matCellDef="let item">{{item.state}}</td>
          </ng-container>

          <ng-container matColumnDef="connectorId">
            <th mat-header-cell *matHeaderCellDef scope="col">ConnectorId</th>
            <td mat-cell *matCellDef="let item">{{item.connectorId}}</td>
          </ng-container>

          <ng-container matColumnDef="assetId">
            <th mat-header-cell *matHeaderCellDef scope="col">AssetId</th>
            <td mat-cell *matCellDef="let item">{{item.assetId}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns" class="transfer-history-table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </mat-card>
  </div>

  <mat-card class="count_grid">
    <h1>{{dataOfferingCount$ | async}}</h1>
    <p>Your Data Offerings</p>
    <div>
    </div>
  </mat-card>

  <mat-card class="count_grid">
    <h1>{{assetCount$ | async}}</h1>
    <p>Your Assets</p>
    <div>
    </div>
  </mat-card>

  <mat-card class="count_grid">
    <h1>{{policyCount$ | async}}</h1>
    <p>Your Policies</p>
    <div>
    </div>
  </mat-card>

  <mat-card class="count_grid">
    <!-- <h1>{{preconfiguredCatalogCount}}</h1>
    <p>Preconfigured Catalogs</p> -->
    <h1>{{contractAgreementCount$ | async}}</h1>
    <p>Contract Agreements</p>
    <div>
    </div>
  </mat-card>

  <!-- <mat-card style="grid-column: 1/5;" class="count_grid">
    <h1>{{contractAgreementCount$ | async}}</h1>
    <p>Contract Agreements</p>
    <div>
    </div>
  </mat-card> -->
</div>

</div>
</mat-card>
