.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
// .title{
// /* UI Properties */
// background: var(--unnamed-color-eeeeee) 0% 0% no-repeat padding-box;
// background: #EEEEEE 0% 0% no-repeat padding-box;
// border-radius: 15px;
// opacity: 1;
// }