.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.title{
  display: flex;
  justify-content: center;
}
.logo{
  margin-left: 2rem;
  width: 3.125rem;
}
.heading{
  display: flex;
  background-color: white;
  height: 5.5rem;
  border-bottom: solid lightgrey 2px;
  justify-content: space-between;

  .heading-start{
    display: flex;
    align-items: center;
  }
}
.titleFont{
  font-weight: 600;
  font-size: larger;
  margin-left:3rem;
}
