<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <!-- <mat-toolbar class="title">NISSAN EDC</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="[dashboardRoute.path]">
        <h4><mat-icon matListItemIcon>{{dashboardRoute.data?.icon}}</mat-icon>
        <span style="font-weight: bold;padding: 1rem;">{{dashboardRoute.data?.title ?? dashboardRoute.path}} </span></h4>
    </a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Provide</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="options" mat-list-item *ngFor="let route of providerRoutes" [routerLink]="[route.path]">
            <mat-icon style="font-weight: bold;">{{route.data?.icon}}</mat-icon>
            <span style="font-weight: bold;padding: 1rem;">{{route.data?.title ?? route.path}}</span>
        </a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Consume</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item *ngFor="let route of consumerRoutes" [routerLink]="[route.path]">
            <mat-icon style="font-weight: bold;" >{{route.data?.icon}}</mat-icon>
            <span style="font-weight: bold;padding: 1rem;">{{route.data?.title ?? route.path}}</span>
        </a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="heading">
     <div class="heading-start">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <img src="../../../../assets/logo/Nissan.svg" class="logo">
      <span class="titleFont">EDC Dashboard</span>
     </div>

     <div class="heading-end">
      <button type="button" aria-label="Show info" mat-icon-button (click)="openEdcInfoDialog()">
        <mat-icon>account_circle</mat-icon>
      </button>
     </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
