#wrapper {
  margin: 20px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.policy-card {
  margin-top: 10px;
  width: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy-property {
  font-weight: bold !important;
}