@import './theme.scss';

body {
  font-family: Nissan Brand, Roboto, sans-serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code {
  font-family:Nissan Brand, Roboto, sans-serif !important;

}


.dialogStyle {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: white;
    color: rgba(0, 0, 0, 0.87) !important;
    
  }

}
.page-card{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 10px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 100%;
}

.dashboard_flex{
  display: flex;
  height: 85%;

}
.title-toolbar{
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  background-image: linear-gradient(to left top, #12a0eb, #0089da, #0073c8, #005db5, #0d47a1);
  color: white;
}
.mat-toolbar.mat-primary{
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

// .dialogStyle {
// .mat-mdc-dialog-container .mdc-dialog__content{
//   color: black !important;
// }}

// ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
//   background-color: white;
//   color: black;
// }

// .cdk-overlay-container .dialogStyle .mat-mdc-dialog-container .mdc-dialog__surface {
//   background-color: white;
//   color: black !important;
// }


// .dialogStyle {.mdc-dialog__container .mat-mdc-dialog-content .mdc-dialog__content {
//     background-color: white;
//     color: rgba(0, 0, 0, 0.87) !important;
//   }

// }


.search-form-field{

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing  {
    border-color: white !important;
    color: white !important;
  }

  :hover{
      border-color: white !important;
      color: white !important;
    }


}

