mat-dialog-content {
    width: 800px;
}

.form-field {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-right: 10px;
    width: 350px;
}

mat-card-actions {
    margin-left: 0;
}
.my-component {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    // ... other styles
  }